/* grid-container */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
}
/* grid-items */
.grid-item-black{
    border-radius: 20px;
    background-color: black;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.grid-item-peach{
    border-radius: 20px;
    background-color: peachpuff;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
    color: white;
}